# Putting it all together

1. call aviationstack API
2. save json response to sqlite3 db
3. extract data from response
4. tweet data

## Calling `aviationstack` API

In [4]:
import os
import requests
from urllib3.util import Retry
from requests import Session, HTTPError
from requests.adapters import HTTPAdapter
from requests.exceptions import ReadTimeout
import sqlite3
import json
from pathlib import Path
from dotenv import load_dotenv
from datetime import date
from time import sleep

In [6]:
import logging
from sys import stdout

logging.basicConfig(
    format="%(asctime)s [%(levelname)s] %(funcName)s: %(message)s",
    datefmt="%Y/%m/%d %H:%M:%S",
    handlers=[logging.StreamHandler(stdout)],
)
logger = logging.getLogger(__name__)

In [5]:
env_path = Path("../.env")
load_dotenv(env_path)
AV_API_KEY = os.getenv("AVIATION_API_KEY", "")
AV_API_URL = "http://api.aviationstack.com/v1/"
FLIGHT_API_URL = AV_API_URL + "flights"

In [11]:
def write_local_json(
    api_response: dict,
    json_dir: Path,
    str_date: str = str(date.today()),
    offset: int = 0,
    limit: int = 100,
):
    """
    Saves the flight api response as json, to be uploaded to a data lake
    """
    if not json_dir.exists():
        json_dir.mkdir(parents=True)
    local_json_path = json_dir / f"flight-{str_date}-{offset}-{offset+limit}.json"
    logger.info(f"saving to {local_json_path}")
    with open(local_json_path, "w") as j:
        json.dump(api_response, j)
        logger.debug(f"saved to {local_json_path}")
    return local_json_path


def get_all_delays(
    json_dir: str,
    limit: int = 100,
    airline: str = "Malaysia Airlines",
    min_delay: int = 1,
    str_date: str = str(date.today()),
):
    sesh = Session()
    adapter = HTTPAdapter(
        max_retries=Retry(
            total=3,
            backoff_factor=0.1,
            status_forcelist=[500, 502, 503, 504],
            # allowed_methods={"POST"},
        )
    )
    sesh.mount(AV_API_URL, adapter)
    responses = []
    retrieved = total = 0
    while not total or retrieved < total:
        sleep(0.5)
        logger.info(f"retrieving {retrieved}th to {retrieved + limit}th")
        params = {
            "access_key": AV_API_KEY,  # retrieved from .env, global scope
            "offset": retrieved,
            "limit": limit,
            "airline_name": airline,
            "min_delay_arr": min_delay,
        }
        try:
            response = sesh.get(
                url=FLIGHT_API_URL,
                params=params,
                timeout=30.0,
            )
            response.raise_for_status()
        except HTTPError as exc:
            logger.error(f"HTTP Error: \n{exc}")

        except ReadTimeout as e:
            logger.error(
                f"Timeout retrieving {retrieved}th to {retrieved + limit}th:\n{e}"
            )
        # save response
        logger.debug(f"retrieved {retrieved}th to {retrieved + limit}th")
        responses.append(response.json())
        json_path = write_local_json(
            responses[-1], json_dir=json_dir, str_date=str_date, offset=retrieved
        )
        retrieved += responses[-1]["pagination"]["count"]
        if not total:
            total = responses[0]["pagination"]["total"]
            logger.info(f"Total records count: {total}")
    return responses

## 1. Fetch the responses

In [13]:
responses = get_all_delays(Path("../data/responses/"))

KeyboardInterrupt:

## Insert response into sqlite

1. Flatten the json response 
1. create a table if it doesn't already exist.
    - primary keys:
      - `flight__iata` 
      - `departure__iata`
      - `departure__scheduled`
      - `arrival__iata`
    - considered `hashlib.sha` for generating a unique ID from the entire entry, but if the above fields are enough, then let's just use the built-in `PRIMARY KEY` function
      - downside is that we're now presuming the fields and separator in our fields
      - perhaps just force sep as `__`
    - Create schema by comparing the keys of all the entries
1. Upsert entries into the database

In [3]:
from collections.abc import MutableMapping


def json_flatten(data: dict, parent_key="", sep="_"):
    """
    Normalizes json, if nested
    """
    items = []
    for key, val in data.items():
        new_key = parent_key + sep + key if parent_key else key
        if isinstance(val, MutableMapping):
            items.extend(json_flatten(val, parent_key=new_key, sep=sep).items())
        else:
            items.append((new_key, val))

    # creates {key: val} from (key, val) tuple
    return dict(items)


def issubstring(text: str, checklist, sep="__") -> bool:
    """
    Returns True for overlapped keys
    """
    for check in checklist:
        if text + sep in check:
            return True
    return False


def find_json_schema(entries: list[dict]) -> list:
    fields = set()
    for entry in entries:
        fields.update(entry.keys())

    fields_uniq = [field for field in fields if not issubstring(field, fields)]
    return fields_uniq

## 2 Insert to sqlite db

### 2.1 flatten responses

In [4]:
# load previously saved local json
json_paths = Path("../data/responses").glob("flight-2023-09-16-*.json")

# flatten the nested dicts in the response jsons
entries = []
responses = []
for json_file in json_paths:
    with open(json_file) as j:
        flight_page = json.load(j)
        flat = [json_flatten(nested, sep="__") for nested in flight_page["data"]]
        entries.extend(flat)
        responses.append(flight_page)

In [6]:
def create_table(
    schema: list,
    db_conn: sqlite3.Connection,
    tbl_name: str = "import_flight_records",
    sep="__",
):
    """
    Creates the table in sqlite if it doesn't already exist
    """
    pk = [
        ["flight", "iata"],
        ["departure", "iata"],
        ["departure", "scheduled"],
        ["arrival", "iata"],
    ]
    pk = [sep.join(field) for field in pk]
    if not all([key in schema for key in pk]):
        raise ValueError(f"one of primary keys: {pk} not in schema list")

    ddl = f"""
    CREATE TABLE IF NOT EXISTS {tbl_name} (
        {", ".join([f"{field} TEXT DEFAULT NULL" for field in schema])},
        PRIMARY KEY ({", ".join(pk)})
    )"""
    db_conn.execute(ddl)

### 2.2 Create table [optional]

In [5]:
# create table if not exists
# find schema
schema = find_json_schema(entries)
db_conn = sqlite3.connect("../data/flights.db")

In [ ]:
create_table(schema, db_conn)

In [6]:
%load_ext sql

In [7]:
%sql sqlite:///../data/flights.db

In [8]:
%%sql
pragma table_info('import_flight_records')

 * sqlite:///../data/flights.db
Done.

[(0, 'arrival__scheduled', 'TEXT', 0, 'NULL', 0),
 (1, 'arrival__iata', 'TEXT', 0, 'NULL', 4),
 (2, 'live__speed_horizontal', 'TEXT', 0, 'NULL', 0),
 (3, 'flight__codeshared__flight_iata', 'TEXT', 0, 'NULL', 0),
 (4, 'departure__delay', 'TEXT', 0, 'NULL', 0),
 (5, 'departure__estimated_runway', 'TEXT', 0, 'NULL', 0),
 (6, 'arrival__actual', 'TEXT', 0, 'NULL', 0),
 (7, 'flight__number', 'TEXT', 0, 'NULL', 0),
 (8, 'arrival__baggage', 'TEXT', 0, 'NULL', 0),
 (9, 'departure__terminal', 'TEXT', 0, 'NULL', 0),
 (10, 'departure__actual', 'TEXT', 0, 'NULL', 0),
 (11, 'live__speed_vertical', 'TEXT', 0, 'NULL', 0),
 (12, 'flight__codeshared__airline_icao', 'TEXT', 0, 'NULL', 0),
 (13, 'departure__icao', 'TEXT', 0, 'NULL', 0),
 (14, 'flight__icao', 'TEXT', 0, 'NULL', 0),
 (15, 'airline__name', 'TEXT', 0, 'NULL', 0),
 (16, 'flight__codeshared__airline_name', 'TEXT', 0, 'NULL', 0),
 (17, 'departure__estimated', 'TEXT', 0, 'NULL', 0),
 (18, 'departure__gate', 'TEXT', 0, 'NULL', 0),
 (19, 'arrival__gate', 'TEXT', 0, 'NULL', 0),
 (20, 'departure__actual_runway', 'TEXT', 0, 'NULL', 0),
 (21, 'flight_status', 'TEXT', 0, 'NULL', 0),
 (22, 'departure__timezone', 'TEXT', 0, 'NULL', 0),
 (23, 'arrival__airport', 'TEXT', 0, 'NULL', 0),
 (24, 'aircraft__icao', 'TEXT', 0, 'NULL', 0),
 (25, 'live__latitude', 'TEXT', 0, 'NULL', 0),
 (26, 'arrival__icao', 'TEXT', 0, 'NULL', 0),
 (27, 'aircraft__iata', 'TEXT', 0, 'NULL', 0),
 (28, 'flight__codeshared__flight_icao', 'TEXT', 0, 'NULL', 0),
 (29, 'flight__codeshared__flight_number', 'TEXT', 0, 'NULL', 0),
 (30, 'flight__codeshared__airline_iata', 'TEXT', 0, 'NULL', 0),
 (31, 'departure__iata', 'TEXT', 0, 'NULL', 2),
 (32, 'departure__scheduled', 'TEXT', 0, 'NULL', 3),
 (33, 'arrival__estimated_runway', 'TEXT', 0, 'NULL', 0),
 (34, 'airline__iata', 'TEXT', 0, 'NULL', 0),
 (35, 'live__altitude', 'TEXT', 0, 'NULL', 0),
 (36, 'live__direction', 'TEXT', 0, 'NULL', 0),
 (37, 'arrival__delay', 'TEXT', 0, 'NULL', 0),
 (38, 'flight__iata', 'TEXT', 0, 'NULL', 1),
 (39, 'live__longitude', 'TEXT', 0, 'NULL', 0),
 (40, 'arrival__terminal', 'TEXT', 0, 'NULL', 0),
 (41, 'arrival__estimated', 'TEXT', 0, 'NULL', 0),
 (42, 'airline__icao', 'TEXT', 0, 'NULL', 0),
 (43, 'arrival__actual_runway', 'TEXT', 0, 'NULL', 0),
 (44, 'live__updated', 'TEXT', 0, 'NULL', 0),
 (45, 'live__is_ground', 'TEXT', 0, 'NULL', 0),
 (46, 'arrival__timezone', 'TEXT', 0, 'NULL', 0),
 (47, 'aircraft__icao24', 'TEXT', 0, 'NULL', 0),
 (48, 'aircraft__registration', 'TEXT', 0, 'NULL', 0),
 (49, 'flight_date', 'TEXT', 0, 'NULL', 0),
 (50, 'departure__airport', 'TEXT', 0, 'NULL', 0)]

In [10]:
from sqlite3 import ProgrammingError


def dict_factory(cursor, row):
    """
    cursor: sqlite3 cursor object
    row: tuple from query result
    returns the tuple row as dict
    """
    # .description attr returns a 7-tuple; only 1st is the col name
    fields = [descr[0] for descr in cursor.description]
    return {field: val for field, val in zip(fields, row)}


def upsert_entries(
    entries: dict,
    db_conn: sqlite3.Connection,
    tbl_name: str = "import_flight_records",
):
    """
    UPSERT data into the import table
    There is no UPSERT function that replaces INSERT;
    rather it's an ON CONFLICT DO clause that can be added to an INSERT
    statement to handle unique key constraints
    """
    # retrieve the table column order for correct insertion
    with db_conn:
        curs = db_conn.execute(f"pragma table_info('{tbl_name}')")
        tbl_info = curs.fetchall()
    col_names = [col_info["name"] for col_info in tbl_info]

    # inserting nulls where the field is empty
    entries_expanded = (
        {field: entry.get(field) for field in col_names} for entry in entries
    )
    cols_placeholder = ", ".join([f":{field}" for field in col_names])
    try:
        with db_conn:
            db_conn.executemany(
                f"INSERT OR REPLACE INTO {tbl_name} VALUES({cols_placeholder})",
                entries_expanded,
            )
    except ProgrammingError as e:
        print(e)

### 2.3 UPSERT into table

In [11]:
db_conn.row_factory = dict_factory
upsert_entries(entries, db_conn)

In [9]:
%%sql
select
    departure__iata,
    arrival__iata,
    CAST(arrival__delay AS INTEGER) arrival_delay,
    ROW_NUMBER() OVER (ORDER BY CAST(arrival__delay AS INTEGER) DESC) delay_rank
    --avg(departure__delay) avg_delay
from import_flight_records
group by departure__iata, arrival__iata
order by arrival_delay desc
limit 10;

 * sqlite:///../data/flights.db
Done.

[('DOH', 'HEL', 246, 1),
 ('LHE', 'CMB', 152, 2),
 ('CMB', 'LHE', 148, 3),
 ('KUL', 'NRT', 142, 4),
 ('PVG', 'KUL', 135, 5),
 ('KUL', 'AKL', 126, 6),
 ('CTS', 'HND', 125, 7),
 ('LHR', 'MIA', 107, 8),
 ('ORD', 'PHL', 105, 9),
 ('ORD', 'SEA', 96, 10)]

In [11]:
%%sql
select count(*) num_delayed,
max(departure__delay) max_delay,
avg(departure__delay) avg_delay
from import_flight_records
where date(departure__scheduled) = '2023-09-24';

 * sqlite:///../data/flights.db
Done.

[(0, None, None)]

## Tweeting it out

In [23]:
import tweepy

In [25]:
tbl_name = "import_flight_records"
sep = "__"
str_date = "2023-09-16"

flight_num = f"flight{sep}iata"
a_port = f"arrival{sep}airport"
a_delay = f"arrival{sep}delay"
d_port = f"departure{sep}airport"
d_delay = f"departure{sep}delay"
d_sched = f"departure{sep}scheduled"

agg_sql = f"""
        SELECT COUNT(*) num_delayed,
        AVG({a_delay}) avg_delay
        FROM {tbl_name}
        WHERE DATE({d_sched}) = '{str_date}'
    """
with db_conn:
    curs = db_conn.execute(query_sql)
    result = curs.fetchall()
result

[{'num_delayed': 204, 'max_delay': '98', 'avg_delay': 36.6551724137931}]

In [ ]:
agg_sql = f"""
        SELECT COUNT(*) num_delayed,
        AVG({a_delay}) avg_delay
        FROM {tbl_name}
        WHERE DATE({d_sched}) = '{str_date}'
    """

In [28]:
most_delayed_sql = f"""
        select 
            ROW_NUMBER() OVER (ORDER BY CAST({a_delay} AS INTEGER) DESC) delay_rank,
            {flight_num},
            {a_port},
            {d_port},
            {a_delay}
        from {tbl_name}
        where date({d_sched}) = '{str_date}' 
        order by delay_rank
        limit 3;
    """
with db_conn:
    curs = db_conn.execute(most_delayed_sql)
    result = curs.fetchall()
result

[{'delay_rank': 1,
  'flight__iata': 'MH133',
  'arrival__airport': 'Auckland International',
  'departure__airport': 'Kuala Lumpur International Airport (klia)',
  'arrival__delay': '126'},
 {'delay_rank': 2,
  'flight__iata': 'MH9210',
  'arrival__airport': 'John F Kennedy International',
  'departure__airport': 'Hong Kong International',
  'arrival__delay': '91'},
 {'delay_rank': 3,
  'flight__iata': 'MH9885',
  'arrival__airport': 'Heathrow',
  'departure__airport': 'Newcastle Airport',
  'arrival__delay': '89'}]

In [69]:
%%sql
WITH RECURSIVE 
    ranks(d_delay, d_delay_rank) AS
        (SELECT
            CAST(departure__delay AS INTEGER),
            ROW_NUMBER() OVER (ORDER BY CAST(departure__delay AS INTEGER) DESC)
        FROM import_flight_records)
SELECT
    d_delay,
    100 * ROUND(
        CAST(d_delay_rank AS FLOAT) / (
            select max(d_delay_rank) from ranks
        ), 2) as percentile
FROM ranks
WHERE percentile in (0, 25, 50, 75, 100);

 * sqlite:///../data/flights.db
Done.

[(178.0, 0.0),
 (169.0, 0.0),
 (49.0, 25.0),
 (49.0, 25.0),
 (49.0, 25.0),
 (49.0, 25.0),
 (49.0, 25.0),
 (48.0, 25.0),
 (34.0, 50.0),
 (34.0, 50.0),
 (33.0, 50.0),
 (33.0, 50.0),
 (33.0, 50.0),
 (33.0, 50.0),
 (24.0, 75.0),
 (24.0, 75.0),
 (24.0, 75.0),
 (24.0, 75.0),
 (24.0, 75.0),
 (24.0, 75.0),
 (7.0, 100.0),
 (7.0, 100.0),
 (3.0, 100.0),
 (None, 100.0)]

In [62]:
%%sql
WITH RECURSIVE
    a(arrdelay, rank) AS 
        (SELECT 
             arrival__delay, 
             ROW_NUMBER() OVER (ORDER BY CAST(arrival__delay AS INTEGER) DESC) rank
        FROM import_flight_records)
SELECT arrdelay, rank FROM a
ORDER BY rank;

 * sqlite:///../data/flights.db
Done.

[('142', 1),
 ('135', 2),
 ('126', 3),
 ('125', 4),
 ('109', 5),
 ('105', 6),
 ('96', 7),
 ('95', 8),
 ('91', 9),
 ('91', 10),
 ('90', 11),
 ('89', 12),
 ('85', 13),
 ('85', 14),
 ('82', 15),
 ('79', 16),
 ('79', 17),
 ('79', 18),
 ('77', 19),
 ('76', 20),
 ('76', 21),
 ('74', 22),
 ('74', 23),
 ('71', 24),
 ('71', 25),
 ('71', 26),
 ('70', 27),
 ('70', 28),
 ('69', 29),
 ('69', 30),
 ('69', 31),
 ('67', 32),
 ('66', 33),
 ('65', 34),
 ('65', 35),
 ('62', 36),
 ('62', 37),
 ('61', 38),
 ('60', 39),
 ('59', 40),
 ('59', 41),
 ('59', 42),
 ('57', 43),
 ('57', 44),
 ('56', 45),
 ('55', 46),
 ('55', 47),
 ('55', 48),
 ('55', 49),
 ('55', 50),
 ('54', 51),
 ('54', 52),
 ('54', 53),
 ('54', 54),
 ('54', 55),
 ('53', 56),
 ('52', 57),
 ('52', 58),
 ('52', 59),
 ('52', 60),
 ('50', 61),
 ('50', 62),
 ('49', 63),
 ('49', 64),
 ('49', 65),
 ('49', 66),
 ('48', 67),
 ('48', 68),
 ('47', 69),
 ('47', 70),
 ('47', 71),
 ('47', 72),
 ('47', 73),
 ('47', 74),
 ('47', 75),
 ('46', 76),
 ('46', 77),
 ('46', 78),
 ('46', 79),
 ('45', 80),
 ('44', 81),
 ('44', 82),
 ('44', 83),
 ('43', 84),
 ('43', 85),
 ('43', 86),
 ('43', 87),
 ('43', 88),
 ('43', 89),
 ('42', 90),
 ('42', 91),
 ('42', 92),
 ('42', 93),
 ('41', 94),
 ('41', 95),
 ('40', 96),
 ('40', 97),
 ('40', 98),
 ('39', 99),
 ('39', 100),
 ('39', 101),
 ('39', 102),
 ('38', 103),
 ('38', 104),
 ('38', 105),
 ('38', 106),
 ('35', 107),
 ('35', 108),
 ('35', 109),
 ('35', 110),
 ('34', 111),
 ('34', 112),
 ('34', 113),
 ('34', 114),
 ('34', 115),
 ('32', 116),
 ('32', 117),
 ('32', 118),
 ('32', 119),
 ('31', 120),
 ('31', 121),
 ('31', 122),
 ('31', 123),
 ('31', 124),
 ('31', 125),
 ('31', 126),
 ('30', 127),
 ('30', 128),
 ('30', 129),
 ('30', 130),
 ('30', 131),
 ('30', 132),
 ('30', 133),
 ('30', 134),
 ('29', 135),
 ('28', 136),
 ('28', 137),
 ('28', 138),
 ('28', 139),
 ('28', 140),
 ('28', 141),
 ('28', 142),
 ('28', 143),
 ('27', 144),
 ('27', 145),
 ('27', 146),
 ('27', 147),
 ('27', 148),
 ('27', 149),
 ('27', 150),
 ('27', 151),
 ('26', 152),
 ('26', 153),
 ('26', 154),
 ('26', 155),
 ('25', 156),
 ('25', 157),
 ('25', 158),
 ('25', 159),
 ('25', 160),
 ('25', 161),
 ('25', 162),
 ('25', 163),
 ('24', 164),
 ('24', 165),
 ('24', 166),
 ('24', 167),
 ('24', 168),
 ('24', 169),
 ('24', 170),
 ('24', 171),
 ('24', 172),
 ('23', 173),
 ('23', 174),
 ('23', 175),
 ('23', 176),
 ('23', 177),
 ('23', 178),
 ('23', 179),
 ('23', 180),
 ('23', 181),
 ('22', 182),
 ('22', 183),
 ('22', 184),
 ('22', 185),
 ('21', 186),
 ('21', 187),
 ('21', 188),
 ('21', 189),
 ('21', 190),
 ('21', 191),
 ('20', 192),
 ('20', 193),
 ('20', 194),
 ('20', 195),
 ('20', 196),
 ('20', 197),
 ('20', 198),
 ('20', 199),
 ('20', 200),
 ('20', 201),
 ('19', 202),
 ('19', 203),
 ('19', 204),
 ('19', 205),
 ('19', 206),
 ('19', 207),
 ('19', 208),
 ('18', 209),
 ('18', 210),
 ('18', 211),
 ('18', 212),
 ('18', 213),
 ('18', 214),
 ('18', 215),
 ('18', 216),
 ('18', 217),
 ('18', 218),
 ('18', 219),
 ('17', 220),
 ('17', 221),
 ('17', 222),
 ('17', 223),
 ('17', 224),
 ('17', 225),
 ('17', 226),
 ('17', 227),
 ('17', 228),
 ('17', 229),
 ('17', 230),
 ('17', 231),
 ('17', 232),
 ('17', 233),
 ('16', 234),
 ('16', 235),
 ('16', 236),
 ('16', 237),
 ('16', 238),
 ('16', 239),
 ('16', 240),
 ('16', 241),
 ('16', 242),
 ('16', 243),
 ('16', 244),
 ('16', 245),
 ('15', 246),
 ('15', 247),
 ('15', 248),
 ('15', 249),
 ('14', 250),
 ('14', 251),
 ('14', 252),
 ('14', 253),
 ('14', 254),
 ('14', 255),
 ('14', 256),
 ('14', 257),
 ('14', 258),
 ('14', 259),
 ('14', 260),
 ('14', 261),
 ('14', 262),
 ('14', 263),
 ('14', 264),
 ('13', 265),
 ('13', 266),
 ('13', 267),
 ('13', 268),
 ('13', 269),
 ('13', 270),
 ('13', 271),
 ('13', 272),
 ('13', 273),
 ('13', 274),
 ('13', 275),
 ('13', 276),
 ('13', 277),
 ('13', 278),
 ('12', 279),
 ('12', 280),
 ('12', 281),
 ('12', 282),
 ('12', 283),
 ('12', 284),
 ('12', 285),
 ('12', 286),
 ('12', 287),
 ('12', 288),
 ('12', 289),
 ('11', 290),
 ('11', 291),
 ('11', 292),
 ('11', 293),
 ('11', 294),
 ('11', 295),
 ('11', 296),
 ('11', 297),
 ('11', 298),
 ('11', 299),
 ('11', 300),
 ('11', 301),
 ('11', 302),
 ('11', 303),
 ('11', 304),
 ('10', 305),
 ('10', 306),
 ('10', 307),
 ('10', 308),
 ('10', 309),
 ('10', 310),
 ('10', 311),
 ('10', 312),
 ('10', 313),
 ('10', 314),
 ('10', 315),
 ('10', 316),
 ('10', 317),
 ('10', 318),
 ('10', 319),
 ('10', 320),
 ('10', 321),
 ('10', 322),
 ('10', 323),
 ('10', 324),
 ('9', 325),
 ('9', 326),
 ('9', 327),
 ('9', 328),
 ('9', 329),
 ('9', 330),
 ('9', 331),
 ('9', 332),
 ('9', 333),
 ('9', 334),
 ('9', 335),
 ('9', 336),
 ('9', 337),
 ('9', 338),
 ('9', 339),
 ('9', 340),
 ('9', 341),
 ('9', 342),
 ('9', 343),
 ('9', 344),
 ('9', 345),
 ('8', 346),
 ('8', 347),
 ('8', 348),
 ('8', 349),
 ('8', 350),
 ('8', 351),
 ('8', 352),
 ('8', 353),
 ('8', 354),
 ('8', 355),
 ('8', 356),
 ('8', 357),
 ('8', 358),
 ('8', 359),
 ('8', 360),
 ('8', 361),
 ('8', 362),
 ('8', 363),
 ('8', 364),
 ('7', 365),
 ('7', 366),
 ('7', 367),
 ('7', 368),
 ('7', 369),
 ('7', 370),
 ('7', 371),
 ('7', 372),
 ('7', 373),
 ('7', 374),
 ('7', 375),
 ('7', 376),
 ('7', 377),
 ('7', 378),
 ('7', 379),
 ('7', 380),
 ('7', 381),
 ('7', 382),
 ('6', 383),
 ('6', 384),
 ('6', 385),
 ('6', 386),
 ('6', 387),
 ('6', 388),
 ('6', 389),
 ('6', 390),
 ('6', 391),
 ('6', 392),
 ('6', 393),
 ('6', 394),
 ('6', 395),
 ('6', 396),
 ('6', 397),
 ('6', 398),
 ('6', 399),
 ('6', 400),
 ('6', 401),
 ('6', 402),
 ('6', 403),
 ('6', 404),
 ('6', 405),
 ('6', 406),
 ('6', 407),
 ('6', 408),
 ('6', 409),
 ('5', 410),
 ('5', 411),
 ('5', 412),
 ('5', 413),
 ('5', 414),
 ('5', 415),
 ('5', 416),
 ('5', 417),
 ('5', 418),
 ('5', 419),
 ('5', 420),
 ('5', 421),
 ('5', 422),
 ('5', 423),
 ('5', 424),
 ('5', 425),
 ('5', 426),
 ('5', 427),
 ('5', 428),
 ('5', 429),
 ('5', 430),
 ('4', 431),
 ('4', 432),
 ('4', 433),
 ('4', 434),
 ('4', 435),
 ('4', 436),
 ('4', 437),
 ('4', 438),
 ('4', 439),
 ('4', 440),
 ('4', 441),
 ('4', 442),
 ('4', 443),
 ('4', 444),
 ('4', 445),
 ('4', 446),
 ('4', 447),
 ('4', 448),
 ('4', 449),
 ('4', 450),
 ('4', 451),
 ('4', 452),
 ('4', 453),
 ('4', 454),
 ('4', 455),
 ('4', 456),
 ('4', 457),
 ('4', 458),
 ('4', 459),
 ('4', 460),
 ('4', 461),
 ('4', 462),
 ('4', 463),
 ('4', 464),
 ('4', 465),
 ('4', 466),
 ('3', 467),
 ('3', 468),
 ('3', 469),
 ('3', 470),
 ('3', 471),
 ('3', 472),
 ('3', 473),
 ('3', 474),
 ('3', 475),
 ('3', 476),
 ('3', 477),
 ('3', 478),
 ('3', 479),
 ('3', 480),
 ('3', 481),
 ('3', 482),
 ('3', 483),
 ('3', 484),
 ('3', 485),
 ('3', 486),
 ('3', 487),
 ('3', 488),
 ('3', 489),
 ('3', 490),
 ('3', 491),
 ('3', 492),
 ('3', 493),
 ('3', 494),
 ('3', 495),
 ('3', 496),
 ('3', 497),
 ('3', 498),
 ('3', 499),
 ('3', 500),
 ('3', 501),
 ('3', 502),
 ('3', 503),
 ('3', 504),
 ('3', 505),
 ('3', 506),
 ('3', 507),
 ('3', 508),
 ('3', 509),
 ('2', 510),
 ('2', 511),
 ('2', 512),
 ('2', 513),
 ('2', 514),
 ('2', 515),
 ('2', 516),
 ('2', 517),
 ('2', 518),
 ('2', 519),
 ('2', 520),
 ('2', 521),
 ('2', 522),
 ('2', 523),
 ('2', 524),
 ('2', 525),
 ('2', 526),
 ('2', 527),
 ('2', 528),
 ('2', 529),
 ('2', 530),
 ('2', 531),
 ('2', 532),
 ('2', 533),
 ('2', 534),
 ('2', 535),
 ('2', 536),
 ('2', 537),
 ('2', 538),
 ('2', 539),
 ('2', 540),
 ('2', 541),
 ('1', 542),
 ('1', 543),
 ('1', 544),
 ('1', 545),
 ('1', 546),
 ('1', 547),
 ('1', 548),
 ('1', 549),
 ('1', 550),
 ('1', 551),
 ('1', 552),
 ('1', 553),
 ('1', 554),
 ('1', 555),
 ('1', 556),
 ('1', 557),
 ('1', 558),
 ('1', 559),
 ('1', 560),
 ('1', 561),
 ('1', 562),
 ('1', 563),
 ('1', 564),
 ('1', 565),
 ('1', 566),
 ('1', 567),
 ('1', 568),
 ('1', 569),
 ('1', 570),
 ('1', 571),
 ('1', 572),
 ('1', 573),
 ('1', 574),
 ('1', 575),
 ('1', 576),
 ('1', 577),
 ('1', 578),
 ('1', 579),
 ('1', 580),
 ('1', 581),
 ('1', 582),
 ('1', 583),
 ('1', 584),
 ('1', 585),
 ('1', 586),
 ('1', 587),
 ('1', 588),
 ('1', 589),
 ('1', 590),
 ('1', 591),
 ('1', 592),
 ('1', 593),
 ('1', 594),
 ('1', 595),
 ('1', 596),
 ('1', 597),
 ('1', 598),
 ('1', 599),
 ('1', 600)]

In [57]:
def write_flight_tweet(
    db_conn: sqlite3.Connection,
    tbl_name: str = "import_flight_records",
    str_date: str = str(date.today()),
    sep: str = "__",
) -> str:
    """
    Queries the flight records database to write the tweet
    Prepared queries makes some assumption about the table schema
    1. follows aviationstack flights endpoint
    1. flattened, with the same sep character
    """
    flight_num = f"flight{sep}iata"
    a_port = f"arrival{sep}airport"
    a_delay = f"arrival{sep}delay"
    d_port = f"departure{sep}airport"
    d_delay = f"departure{sep}delay"
    d_sched = f"departure{sep}scheduled"

    agg_sql = f"""
        SELECT COUNT(*) num_delayed,
        AVG({a_delay}) avg_delay
        FROM {tbl_name}
        WHERE DATE({d_sched}) = '{str_date}'
    """

    most_delayed_sql = f"""
        SELECT 
            ROW_NUMBER() OVER (ORDER BY CAST({a_delay} AS INTEGER) DESC) delay_rank,
            {flight_num},
            REPLACE(
            REPLACE(
            REPLACE({a_port}, ' International Airport', '')
            , ' International', '')
            , ' Airport', '') AS {a_port},
            REPLACE(
            REPLACE(
            REPLACE({d_port}, ' International Airport', '')
            , ' International', '')
            , ' Airport', '') AS {d_port},
            {a_delay}
        FROM {tbl_name}
        WHERE DATE({d_sched}) = '{str_date}'
        ORDER BY delay_rank
        LIMIT 3;
    """
    with db_conn:
        curs = db_conn.execute(agg_sql)
        num_delay, avg_delay = curs.fetchall()[0].values()
        curs = db_conn.execute(most_delayed_sql)
        delays = curs.fetchall()

    delays_in_sentences = "\n" + "\n".join(
        [
            f"{d[flight_num]} from {d[a_port]} to {d[d_port]} by {int(d[a_delay])} min"
            for d in delays
        ]
    )
    pt1 = f"On {str_date}, {num_delay} MH flights were delayed"
    pt2 = f"by an average of {avg_delay:.0f} min."
    pt3 = f"Most delayed flights: {delays_in_sentences}"
    return " ".join([pt1, pt2, pt3])

### 3.1 writing the tweet

In [58]:
payload = write_flight_tweet(db_conn, str_date="2023-09-15")
print(payload, f"\n{len(payload)}")

On 2023-09-15, 396 MH flights were delayed by an average of 20 min. Most delayed flights:
MH88 from Narita to Kuala Lumpur (klia) by 142 min
MH389 from Kuala Lumpur (klia) to Shanghai Pudong by 135 min
MH4050 from Haneda to Chitose by 125 min
243

In [59]:
TWITTER_API_KEY = os.getenv("TWITTER_API_KEY")
TWITTER_API_SECRET = os.getenv("TWITTER_API_SECRET")
TWITTER_ACCESS_TOKEN = os.getenv("TWITTER_ACCESS_TOKEN")
TWITTER_ACCESS_SECRET = os.getenv("TWITTER_ACCESS_SECRET")

### 3.2 tweeting

In [60]:
oauth1_client = tweepy.Client(
    consumer_key=TWITTER_API_KEY,
    consumer_secret=TWITTER_API_SECRET,
    access_token=TWITTER_ACCESS_TOKEN,
    access_token_secret=TWITTER_ACCESS_SECRET,
)

t_response = oauth1_client.create_tweet(text=payload, user_auth=True)
print(f"https://twitter.com/user/status/{t_response.data['id']}")

https://twitter.com/user/status/1704761063189921835